
*{
  margin: 0;
  padding: 0; 
}


.navbar-toggler {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.navbar-toggler a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}


.body{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0%;
  margin: 0%;

}

#header{
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-attachment: fixed;
}

.logo{
  size: -29px;
  color: #0D8BD9 !important;
  margin-left: 5px;
  width: 35px;
  margin-bottom: 25px;

}
.letter{
  color: #1A5F7A !important;

}
.navbar{
  padding: 10px 0 5px 0;
  position: sticky;
  background-size:100%;
  background-image: url(images/albumcover.png.jpg);
  box-shadow: 0px 0px 15px 0px;
  display: flex;
}

.navbar-brand{
  
  font-weight: bold;
  font-size: 1.5em;
  padding-right: 100px;
  color: #FFFFFF !important;

  
}

.nav-item{
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 50px;
}

.nav-link{
  color: #FFFFFF !important;
  letter-spacing: 2px;
  font-size: 1em;
  font-size: 700;
}

.nav-link:hover{
  background:none;
  color:  #ccc !important;
  border-radius: 5px;
  transition: all 0.6s ease 0s;
}

.side-bar{
  width: 50px;
  height: 100vh;
  background-color: linear-gradient(97.38deg, #0D8BD9 -4.25%, #1F94DC 32.46%, #006F95 100%);
  position: absolute;
  top: 0;
  right: 0;
}



.container-fluid{
  width:100%;
  padding: 0 0 0 0;
}

.Top-container{
    position: absolute;
    width: 100%;
    height: 560px;
    padding-bottom: 0;
}


 .album{
   width: 100%;
   height: 600px;
   background-size: cover;
   background-position: center;
   position: absolute;
   overflow: hidden;
 }


.frame{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -80px;
}

.frame img{
  width: 30px;
  animation: frame 7s linear infinite
}

@keyframes frame{
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {

    opacity: 1;
  }
  70% {

    opacity: 1;
  }
  100% {
    transform: translateY(-70vh);
    opacity: 0;
  }

}

.frame img:nth-child(1) {
  animation-delay: 6s;
  width: 35px;
}

.frame img:nth-child(2) {
  animation-delay: 1s;
  width: 5px;
}

.frame img:nth-child(3) {
  animation-delay: 4.5s;
  width: 20px;
}

.frame img:nth-child(4) {
  animation-delay: 2s;
  width: 45px;
}

.frame img:nth-child(5) {
  animation-delay: 5.5s;
  width: 15px;
}

.frame img:nth-child(6) {
  animation-delay: 1s;
  width: 25px;
}

.frame img:nth-child(7) {
  animation-delay: 3s;
  width: 55px;
}

.frame img:nth-child(8) {
  animation-delay: 4.5s;
  width: 15px;
}

.frame img:nth-child(9) {
  animation-delay: 2s;
  width: 35px;
}

.content{
  color: #FFFFFF;
  position:absolute;
  top: 30%;
  left: 8%;
  transform: translateY(-50);
  z-index: 1;

}

 h1{
   font-size: 80px;
   margin: 10px 0 30px;
   line-height: 80px
 }


.middle-container{
  position: absolute;
  width: 100%;
  height: 750px;
  top: 580.67px;
  background: #FFFFFF;
}

.row-a{
  display: flex;
  width:100%;
}

.col-lg-6a{
  display: grid;
  width: 70%;
}

h2{
  display: flex;
  position: relative;
  left: 180px;
  top: 80px;
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 1000;
  font-size: 62px;
  line-height: 46px;
 
  color: #16213E;
 }

.about{
    position: absolute;
    display: flex;
    width: 60%;
    left: 50px;
    top: 170px;
    font-size: 20px;
    font-family: 'Quattrocento Sans';
    font-style: normal;
    font-weight: 40px;
    font-size: 20px;
    line-height: 40px;
    align-content: center;
    justify-content: center;
    flex-direction: column;
   }

.text-box h1{
  display: inline-block;
  float: inline-end;
  position: relative;
  top: 310px;
  left: 150px;
  font-size: 120px;
  line-height: 100px;
  color: transparent;
  -webkit-text-stroke:  1px #16213E;
background: url(images/skyeback.png.jpg);
-webkit-background-clip: text;
background-position: 0 0;
animation: skyeback 20s linear infinite;
}
@keyframes skyeback{
  100%{
    background-position: 2000px 0;
  }
}
@media (max-width:768px) {
  .text-box h1{
    width:50%;
  }
}


.col-lg-6b{
  display: grid;
  width: 30%;
}
.back-video{
  position: absolute;
  display:flex;
  right: 0;
  top: 0px;
  height: 700px;

}


@media only screen and (max-width:768px){
  .text-box h1{
    display: none;
  } 
  .back-video{
    position: absolute;
    display:flex;
    float: right;
    top: 0px;
    width:170px;
  }
  .middle-container{
    position: absolute;
    width: 100%;
    height: 700px;
    
  }

  h2{
    display: flex;
    position: relative;
    left: 20px;
    top: 60px;
    font-weight: 500px;
    font-size: 30px;

   }
  
  .about{
    width: 45%;
    left: 20px;
    top: 190px;
    font-size: 20px;
    font-weight: 30px;
    font-size: 17px;
    line-height: 30px;
  
   }

  .col-lg-6a{
    display: grid;
    width: 70%;
  }

  .col-lg-6b{
    display: grid;
    width: 50%;
  }




  .third-top{
    position: absolute;
   } 

  .skye{
    width: 500px;
    font-size: 50px;
    line-height: 50px;
    height: 100px;
    top: 80px;
    left: -250px;
    font-weight: 200px;
    
  
 }
 .container-fluid{
  width: 100%;
 }
 
 .being{
   position: absolute;
   width: 50%;
   height: 100px;
   top: 180px;
   left: 30px;
   font-weight: 200;
   font-size: 20px;
   line-height: 50px; 
  
   
 }
 
 .row{
   position: absolute;
   display: flex;
 
   
 }
 
 .col-sm-4{
   display: flex;
   width: 100%;
 }
 
 
 .one{
 left: 30px;
 top: 134px;
 margin-left: 50px;
 font-family: 'Playfair Display';
 font-style: normal;
 font-weight: 500px;
 font-size: 45px;
 line-height: 48px;
 align-items: center;
 }
 
 .the{
   position: absolute;
   width: 300px;
   height: 30px;
   top: 410px;
   left: 70px;
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 270;
   font-size: 20px;
   line-height: 35px; 
   color: #7F8487;
 }
 
 .two{
  position: relative;
  display: flex;
  width: 380px;
  height: 340px;
  top: 350px;
  left: 350px;
  
  margin-right: 50px;
 
  margin-left: 50px;
  /* SW-Grey 100 */
 
  background: #FFFFFF;
  box-shadow: 15px 16px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
 }
 









}


@media only screen and (max-width:1023px){
  .text-box h1{
    display: none;
  } 
  .back-video{
    position: absolute;
    display:flex;
    float: right;
    top: 0px;
    height:600px;
  }
  .middle-container{
    position: absolute;
    width: 100%;
    height: 800px;
    
  }

  h2{
    display: flex;
    position: relative;
    left: 70px;
    top: 80px;
    font-weight: 700;
    font-size: 50px;

   }
  
  .about{
      width: 50%;
      left: 20px;
      top: 170px;
      font-size: 20px;
      font-weight: 30px;
      font-size: 15px;
      
  
   }

  .col-lg-6a{
    display: grid;
    width: 70%;
  }

  .col-lg-6b{
    display: grid;
    width: 50%;
  }
}







maion{
  position: absolute;
  left: 650px;
  height: 400px;
  top: 0px;

}

.third-container{
  position: absolute;
  width: 100%;
  height: 800px;
  top: 1150.67px;
  background: #FFFFFF;
}

.third-top{
  display: flex;
  position: absolute;
  width: 100%;
}

.background{
  position: absolute;
  width: 100%;
  height: 900px;

}


.skye{
   position: absolute;
   font-size: 70px;
   margin: 10px 0 30px;
   line-height: 80px;
   height: 150px;
   top: 100px;
   left: 350px;
   font-family: 'Quattrocento Sans';
   font-style: normal;
   font-weight: 800px;
   color: #472D2D;
 
}

.being{
  position: absolute;
  height: 150px;
  top: 180px;
  left: 230px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px; 
  color: #A47E3B;
 
  
}

.row{
  position: absolute;
  display: flex;

  
}

.col-sm-4{
  display: flex;
  width: 100%;
}


.one{
left: 30px;
top: 134px;
margin-left: 50px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 500px;
font-size: 45px;
line-height: 48px;
align-items: center;
}

.the{
  position: absolute;
  width: 300px;
  height: 30px;
  top: 410px;
  left: 70px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 270;
  font-size: 20px;
  line-height: 35px; 
  color: #7F8487;
}

.two{
 position: relative;
 display: flex;
 width: 380px;
 height: 340px;
 top: 350px;
 left: 350px;
 
 margin-right: 50px;

 margin-left: 50px;
 /* SW-Grey 100 */

 background: #FFFFFF;
 box-shadow: 15px 16px 4px 4px rgba(0, 0, 0, 0.25);
 border-radius: 20px;
}

.cheif{
 position: relative;
 width: 380px;
 height: 270px;
 right: 10px;
 top: 0px;
 border-radius: 20px;
}

.three{
  position: absolute;
  width:380px;
  height: 340px;
  left: 655px;
  top: 10px;
  margin-right: 20px;
  margin-top: 250px;
  margin-left: 200px;
  /* SW-Grey 100 */
  
  background: #FFFFFF;
  box-shadow: 15px 16px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  }

  .capgroup{
    position: absolute;
     width: 380px;
     height: 270px;
     right: 0px;
     top: 0px;
     border-radius: 20px;

  }
.meet{
  position: absolute;
  top: 290px;
  font-size: 20px;
  width: auto;
  left: 100px;
  color: #1746A2;
  text-decoration: none;
  font: bold;

}
    .meett{
      position: absolute;
      top: 290px;
      font-size: 20px;
      width: auto;
      left: 110px;
      color: #1746A2; 
      text-decoration: none;
      font: bold;

    }



  .arrow-1 {
    position: absolute;
    color: #1746A2;
    top: 294px;
    left: 10px;
    font-size: 5px;
    width:82px;
    height:23px;
    display: flex;
    cursor: pointer;
  }
  .arrow-1:before {
    content: "";
    background: currentColor;
    width:3px;
    clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
    animation: a1 2s infinite linear;
  }
  @keyframes a1 {
    90%,100%{flex-grow: 1}
  }


  .arrow-2 {
    position: absolute;
    color: #1746A2;
    top: 294px;
    left: 10px;
    font-size: 5px;
    width:90px;
    height:23px;
    display: flex;
    cursor: pointer;
  }
  .arrow-2:before {
    content: "";
    background: currentColor;
    width:5px;
    clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
    animation: a1 2s infinite linear;
  }
  @keyframes a1 {
    90%,100%{flex-grow: 1}
  }
  

  .container-only{
    position: absolute;
    width: 100%;
    height: 100vh;
    

  }
  
  .background2{
    position:static;
    width: 100%;
    height: 750px;
    top: 200px;
  }

.top-captains{
  position: absolute;
  font-size: 80px;
  font-weight: 150px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #000;
  top: 100px;
  margin-left: 250px;
}

.row2{
position: absolute;
height: 0px;
}

.MD{
  position: absolute;
  top: -450px;
  width: 380px;
  left: 30px;
  height: 400px;
  background: #FFFFFF;
  border-radius: 20px;
}
.MD1{
  position: absolute;
  width: 380px;
  height: 330px;
  right: 0px;
  border-radius: 20px 20px 0px 0;
}
  .Name-MD{
    position: absolute;
    font-size: 20px;
    font-weight:bold;
    width: auto;
    text-align: center;
    left: 130px;
    top: 340px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }


.MD__overlay{
  position: relative;
  top: 0px;
  left: 0;
  height: 330px;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 20px 20px 0px 0;
}

.MD__overlay>*{
  transform: translateY(20px);
  transition: transform(0.2s);
  
}
.MD__overlay:hover{
  opacity: 1;
}



.MD__overlay:hover >*{
  transform: translateY(0px);
  transition:all 0.6s ease 0s;
}

.MD__overlay__blur{
  backdrop-filter: blur(10px);
  transition: transform 0.25s; 
}


.MD_discription{
  position:absolute;
  font-size: 1.25em;
  margin-top: 0.25em;
  height: 330px;
  width: 100%;
  top:-25px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 0px 0;
  transition: opacity 0.25s;
}


  .MD-text{
      position: absolute;
      font-size: 17px;
      width: auto;
      left: 90px;
      top: 370px;
      color: grey;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .OMO{
    position:relative;
    top: -500px;
    left: 445px;
    height: 400px;
    background: #FFFFFF;
    border-radius: 20px;
    width: 380px;
   }
   
   .OM1{
    position: absolute;
    width: 380px;
    height: 330px;
    right: 0px;
    border-radius: 20px 20px 0px 0;
  }
  .Name-OM{
  position: absolute;
  font-size: 20px;
  font-weight:bold;
  width: auto;
  text-align: center;
  left: 140px;
  top: 340px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.OM__overlay{
  position: relative;
  top: 0px;
  left: 0;
  height: 330px;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 20px 20px 0px 0;
}

.OM__overlay>*{
  transform: translateY(20px);
  transition: transform(0.2s);
  
}
.OM__overlay:hover{
  opacity: 1;
}



.OM__overlay:hover >*{
  transform: translateY(0px);
  transition:all 0.6s ease 0s;
}

.OM__overlay__blur{
  backdrop-filter: blur(10px);
  transition: transform 0.25s; 
}


.OM_discription{
  position:absolute;
  font-size: 1.25em;
  margin-top: 0.25em;
  height: 330px;
  width: 100%;
  top:-25px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 0px 0;
  transition: opacity 0.25s;
}



 .OM-text{
  position: absolute;
  font-size: 17px;
  width: auto;
  left: 100px;
  top: 370px;
  color: grey;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.TO{
  position:absolute;
  top: -450px;
  left: 860px;
  height: 400px;
  background: #FFFFFF;
  border-radius: 20px;
  width: 370px;
 }
 
 .TO1{
  position: relative;
  width: 370px;
  height: 330px;
  right: 0px;
  border-radius: 20px 20px 0px 0;
}
.Name-TO{
position: absolute;
font-size: 20px;
font-weight:bold;
width: auto;
text-align: center;
left: 110px;
top: 340px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.TO__overlay{
  position: relative;
  top: -330px;
  left: 0;
  height: 330px;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 20px 20px 0px 0;
}

.TO__overlay>*{
  transform: translateY(20px);
  transition: transform(0.2s);
  
}
.TO__overlay:hover{
  opacity: 1;
}



.TO__overlay:hover >*{
  transform: translateY(0px);
  transition:all 0.6s ease 0s;
}

.TO__overlay__blur{
  backdrop-filter: blur(10px);
  transition: transform 0.25s; 
}


.TO_discription{
  position:absolute;
  font-size: 1.25em;
  margin-top: 0.25em;
  height: 330px;
  width: 100%;
  top:-25px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 0px 0;
  transition: opacity 0.25s;
}

.TO-text{
position: absolute;
font-size: 17px;
width: auto;
left: 80px;
top: 370px;
color: grey;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



@media only screen and (max-width:1023px){

 .row2{
  display: flex;
  width: 100%;
 }

 .top-captains{
  font-size: 50px;
  font-weight: 90px;
  top: 100px;
  margin-left: 220px;
}

 .MD{
  top: -1420px;
  left: 200px;
  width: 300px;
  left: 300px;
  height: 350px;
  align-items: center;
  justify-content: center;
 }

 .MD1{
  width: 300px;
  height: 280px;
 }
 .Name-MD{
 font-size: 18px;
  font-weight:bold;
  width: auto;
  text-align: center;
  left: 90px;
  top: 295px;
 }

 .MD-text{
  font-size: 15px;
  left: 60px;
  top: 320px;
 }

 .OMO{
  top: -950px;
  left: 50px;
  width: 300px;
  left: 300px;
  height: 350px;
  align-items: center;
  justify-content: center;
 }

 .OM1{
  width: 300px;
  height: 280px;
 }

 .Name-OM{
  font-size: 18px;
  font-weight:bold;
  width: auto;
  text-align: center;
  left: 90px;
  top: 295px;
 }

 .OM-text{
  font-size: 15px;
  left: 55px;
  top: 320px;
 }

 

 .TO{
  top: -490px;
   width: 300px;
    left: 300px;
    height: 350px;
    align-items: center;
    justify-content: center;
 }
 .TO1{
  width: 300px;
  height: 280px;
 }

 .Name-TO{
  font-size: 18px;
  font-weight:bold;
  width: auto;
  text-align: center;
  left: 90px;
  top: 295px;
 }

 .TO-text{
  font-size: 15px;
  left: 60px;
  top: 320px;
 }

 .background2{
  width: 100%;
  height: 1650px;

}

}

@media only screen and (max-width:470px){
  .row2{
    display: flex;
   }
  
   .top-captains{
    font-size: 50px;
    font-weight: 70px;
    top: 120px;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    line-height: 50px;

  }
  
   .MD{
    position: absolute;
    top: -1000px;
    width: 220px;
    left: 90px;
    height: 250px;
    align-items: center;
    justify-content: center;
   }

   .MD1{
    width: 220px;
    height: 200px;
   }

   .MD-text{
    font-size: 15px;
    left: 20px;
    top: 220px;
    width: 100%;
   }

   .Name-MD{
    width: 100%;
    left: 10px;
    top: 200px;
   }
   .MD__overlay{
    display: none;
   }
  
   .OMO{
    top: -650px;
    left: 100px;
    width: 220px;
    left: 90px;
    height: 250px;
    align-items: center;
    justify-content: center;
   }

   .OM1{
    width: 220px;
    height: 200px;
   }

   .Name-OM{
    width: 100%;
    left: 10px;
    top: 200px;
   }

   .OM-text{
    font-size: 15px;
    left: 20px;
    top: 220px;
    width: 100%;
   }

   .OM__overlay{
    display: none;
   }

   .TO{
    position: absolute;
    top: -300px;
    width: 220px;
    left: 90px;
    height: 250px;
    align-items: center;
    justify-content: center
   }

   .TO1{
    width: 220px;
    height: 200px;
   }

   .Name-TO{
    width: 100%;
    left: 10px;
    top: 200px;
   }

   .TO-text{
    font-size: 15px;
    left: 20px;
    top: 220px;
    width: 100%;
   }

   .TO__overlay{
    display: none;
   }

   .background2{
    width: 100%;
    height: 1300px;
  
  }
  
}






.background3{
    position:static;
    width: 100%;
    height: 1700px;
    top: -200px;
}

.the-captains{
  position: absolute;
  font-size: 80px;
  font-weight: 150px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 800PX;
  color: #000;
  top: 100px;
  margin-left: 290px;

}

.row3{
  position: absolute;
  height: 0px;
}




.tess{
  position: absolute;
  top: -1450px;
  width: 350px;
  left: 50px;
  height: 400px;
  background: #FFFFFF;
  border-radius: 20px;
}


.tess1{
  position: absolute;
  width: 350px;
  height: 330px;
  right: 0px;
  border-radius: 20px 20px 0px 0;
}

  .Name-tess{
    position: absolute;
    font-size: 20px;
    font-weight:bold;
    width: auto;
    text-align: center;
    left: 100px;
    top: 340px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }


.tess__overlay{
  position: relative;
  top: 0px;
  left: 0;
  height: 330px;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 20px 20px 0px 0;
}

.tess__overlay>*{
  transform: translateY(20px);
  transition: transform(0.2s);
  
}
.tess__overlay:hover{
  opacity: 1;
}



.tess__overlay:hover >*{
  transform: translateY(0px);
  transition:all 0.6s ease 0s;
}

.tess__overlay__blur{
  backdrop-filter: blur(10px);
  transition: transform 0.25s; 
}


.tess_discription{
  position:absolute;
  font-size: 1.25em;
  margin-top: 0.25em;
  height: 330px;
  width: 100%;
  top:-25px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 0px 0;
  transition: opacity 0.25s;
}


  .tess-text{
      position: absolute;
      font-size: 17px;
      width: auto;
      left: 110px;
      top: 370px;
      color: grey;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .tunde{
    position:relative;
    top: -330px;
    left: 405px;
    height: 400px;
    background: #FFFFFF;
    border-radius: 20px;
    width: 350px;
   }
   
   .tunde1{
    position: absolute;
    width: 350px;
    height: 330px;
    right: 0px;
    border-radius: 20px 20px 0px 0;
  }
  .Name-tunde{
  position: absolute;
  font-size: 20px;
  font-weight:bold;
  width: auto;
  text-align: center;
  left: 100px;
  top: 340px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.tunde__overlay{
  position: relative;
  top: 0px;
  left: 0;
  height: 330px;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 20px 20px 0px 0;
}

.tunde__overlay>*{
  transform: translateY(20px);
  transition: transform(0.2s);
  
}
.tunde__overlay:hover{
  opacity: 1;
}



.tunde__overlay:hover >*{
  transform: translateY(0px);
  transition:all 0.6s ease 0s;
}

.tunde__overlay__blur{
  backdrop-filter: blur(10px);
  transition: transform 0.25s; 
}


.tunde_discription{
  position:absolute;
  font-size: 1.25em;
  margin-top: 0.25em;
  height: 330px;
  width: 100%;
  top:-25px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 0px 0;
  transition: opacity 0.25s;
}



 .tunde-text{
  position: absolute;
  font-size: 17px;
  width: auto;
  left: 120px;
  top: 370px;
  color: grey;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.taiwo{
  position:relative;
  top: -330px;
  left: 415px;
  height: 400px;
  background: #FFFFFF;
  border-radius: 20px;
  width: 350px;
 }
 
 .taiwo1{
  position: absolute;
  width: 350px;
  height: 330px;
  right: 0px;
  border-radius: 20px 20px 0px 0;
}
.Name-taiwo{
position: absolute;
font-size: 20px;
font-weight:bold;
width: auto;
text-align: center;
left: 100px;
top: 340px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.taiwo__overlay{
position: relative;
top: 0px;
left: 0;
height: 330px;
width: 100%;
color: #FFFFFF;
display: flex;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
flex-direction: column;
align-items: center;
justify-items: center;
opacity: 0;
transition: opacity 0.25s;
border-radius: 20px 20px 0px 0;
}

.taiwo__overlay>*{
transform: translateY(20px);
transition: transform(0.2s);

}
.taiwo__overlay:hover{
opacity: 1;
}



.taiwo__overlay:hover >*{
transform: translateY(0px);
transition:all 0.6s ease 0s;
}

.taiwo__overlay__blur{
backdrop-filter: blur(10px);
transition: transform 0.25s; 
}


.taiwo_discription{
position:absolute;
font-size: 1.25em;
margin-top: 0.25em;
height: 330px;
width: 100%;
top:-25px;
text-align: center;
justify-content: center;
display: flex;
flex-direction: column;
border-radius: 20px 20px 0px 0;
transition: opacity 0.25s;
}



.taiwo-text{
position: absolute;
font-size: 17px;
width: auto;
left: 120px;
top: 370px;
color: grey;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.row4{
  position: absolute;
  height: 0px;
}

.goke{
  position:relative;
  top: -250px;
  left: -190px;
  height: 400px;
  background: #FFFFFF;
  border-radius: 20px;
  width: 350px;
 }
 
 .goke1{
  position: absolute;
  width: 350px;
  height: 330px;
  right: 0px;
  border-radius: 20px 20px 0px 0;
}
.Name-goke{
position: absolute;
font-size: 20px;
font-weight:bold;
width: auto;
text-align: center;
left: 90px;
top: 340px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.goke__overlay{
position: relative;
top: 0px;
left: 0;
height: 330px;
width: 100%;
color: #FFFFFF;
display: flex;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
flex-direction: column;
align-items: center;
justify-items: center;
opacity: 0;
transition: opacity 0.25s;
border-radius: 20px 20px 0px 0;
}

.goke__overlay>*{
transform: translateY(20px);
transition: transform(0.2s);

}
.goke__overlay:hover{
opacity: 1;
}



.goke__overlay:hover >*{
transform: translateY(0px);
transition:all 0.6s ease 0s;
}

.goke__overlay__blur{
backdrop-filter: blur(10px);
transition: transform 0.25s; 
}


.goke_discription{
position:absolute;
font-size: 1.25em;
margin-top: 0.25em;
height: 330px;
width: 100%;
top:-25px;
text-align: center;
justify-content: center;
display: flex;
flex-direction: column;
border-radius: 20px 20px 0px 0;
transition: opacity 0.25s;
}



.goke-text{
position: absolute;
font-size: 17px;
width: auto;
left: 120px;
top: 370px;
color: grey;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.anna{
  position:relative;
  top: -330px;
  left: 415px;
  height: 400px;
  background: #FFFFFF;
  border-radius: 20px;
  width: 350px;
 }
 
 .anna1{
  position: absolute;
  width: 350px;
  height: 330px;
  right: 0px;
  border-radius: 20px 20px 0px 0;
}
.Name-anna{
position: absolute;
font-size: 20px;
font-weight:bold;
width: auto;
text-align: center;
left: 120px;
top: 340px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.anna__overlay{
position: relative;
top: 0px;
left: 0;
height: 330px;
width: 100%;
color: #FFFFFF;
display: flex;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
flex-direction: column;
align-items: center;
justify-items: center;
opacity: 0;
transition: opacity 0.25s;
border-radius: 20px 20px 0px 0;
}

.anna__overlay>*{
transform: translateY(20px);
transition: transform(0.2s);

}
.anna__overlay:hover{
opacity: 1;
}



.anna__overlay:hover >*{
transform: translateY(0px);
transition:all 0.6s ease 0s;
}


.anna__overlay__blur{
backdrop-filter: blur(10px);
transition: transform 0.25s; 
}


.anna_discription{
position:absolute;
font-size: 1.25em;
margin-top: 0.25em;
height: 330px;
width: 100%;
top:-25px;
text-align: center;
justify-content: center;
display: flex;
flex-direction: column;
border-radius: 20px 20px 0px 0;
transition: opacity 0.25s;
}



.anna-text{
position: absolute;
font-size: 17px;
width: auto;
left: 110px;
top: 370px;
color: grey;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.row5{
  position: absolute;
  height: 0px;
}

.nora{
  position: absolute;
  top: -250px;
  width: 350px;
  left: -215px;
  height: 400px;
  background: #FFFFFF;
  border-radius: 20px;
}


.nora1{
  position: absolute;
  width: 350px;
  height: 330px;
  right: 0px;
  border-radius: 20px 20px 0px 0;
}

  .Name-nora{
    position: absolute;
    font-size: 20px;
    font-weight:bold;
    width: auto;
    text-align: center;
    left: 100px;
    top: 340px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }


.nora__overlay{
  position: relative;
  top: 0px;
  left: 0;
  height: 330px;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 20px 20px 0px 0;
}

.nora__overlay>*{
  transform: translateY(20px);
  transition: transform(0.2s);
  
}
.nora__overlay:hover{
  opacity: 1;
}



.nora__overlay:hover >*{
  transform: translateY(0px);
  transition:all 0.6s ease 0s;
}

.nora__overlay__blur{
  backdrop-filter: blur(10px);
  transition: transform 0.25s; 
}


.nora_discription{
  position:absolute;
  font-size: 1.25em;
  margin-top: 0.25em;
  height: 330px;
  width: 100%;
  top:-25px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 0px 0;
  transition: opacity 0.25s;
}


  .nora-text{
      position: absolute;
      font-size: 17px;
      width: auto;
      left: 110px;
      top: 370px;
      color: grey;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .precious{
    position:relative;
    top: -330px;
    left: 405px;
    height: 400px;
    background: #FFFFFF;
    border-radius: 20px;
    width: 350px;
   }
   
   .precious1{
    position: absolute;
    width: 350px;
    height: 330px;
    right: 0px;
    border-radius: 20px 20px 0px 0;
  }
  .Name-precious{
  position: absolute;
  font-size: 20px;
  font-weight:bold;
  width: auto;
  text-align: center;
  left: 100px;
  top: 340px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.precious__overlay{
  position: relative;
  top: 0px;
  left: 0;
  height: 330px;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 20px 20px 0px 0;
}

.precious__overlay>*{
  transform: translateY(20px);
  transition: transform(0.2s);
  
}
.precious__overlay:hover{
  opacity: 1;
}



.precious__overlay:hover >*{
  transform: translateY(0px);
  transition:all 0.6s ease 0s;
}

.precious__overlay__blur{
  backdrop-filter: blur(10px);
  transition: transform 0.25s; 
}


.precious_discription{
  position:absolute;
  font-size: 1.25em;
  margin-top: 0.25em;
  height: 330px;
  width: 100%;
  top:-25px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 0px 0;
  transition: opacity 0.25s;
}



 .precious-text{
  position: absolute;
  font-size: 17px;
  width: auto;
  left: 120px;
  top: 370px;
  color: grey;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.queen{
  position:relative;
  top: -330px;
  left: 415px;
  height: 400px;
  background: #FFFFFF;
  border-radius: 20px;
  width: 350px;
 }
 
 .queen1{
  position: absolute;
  width: 350px;
  height: 330px;
  right: 0px;
  border-radius: 20px 20px 0px 0;
}
.Name-queen{
position: absolute;
font-size: 20px;
font-weight:bold;
width: auto;
text-align: center;
left: 100px;
top: 340px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.queen__overlay{
position: relative;
top: 0px;
left: 0;
height: 330px;
width: 100%;
color: #FFFFFF;
display: flex;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
flex-direction: column;
align-items: center;
justify-items: center;
opacity: 0;
transition: opacity 0.25s;
border-radius: 20px 20px 0px 0;
}

.queen__overlay>*{
transform: translateY(20px);
transition: transform(0.2s);

}
.queen__overlay:hover{
opacity: 1;
}



.queen__overlay:hover >*{
transform: translateY(0px);
transition:all 0.6s ease 0s;
}

.queen__overlay__blur{
backdrop-filter: blur(10px);
transition: transform 0.25s; 
}


.queen_discription{
position:absolute;
font-size: 1.25em;
margin-top: 0.25em;
height: 330px;
width: 100%;
top:-25px;
text-align: center;
justify-content: center;
display: flex;
flex-direction: column;
border-radius: 20px 20px 0px 0;
transition: opacity 0.25s;
}


.queen-text{
position: absolute;
font-size: 17px;
width: auto;
left: 120px;
top: 370px;
color: grey;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}







  
}


































// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// Extra large devices (large desktops)